@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

/* Div layer for the entire banner. */
#container_dc {
	position: absolute;
	width: 320px;
	height: 480px;
	top: 0px;
	left: 0px;
	margin: auto;
}

#content_dc {
	position: absolute;
	width: 318px;
	height: 478px;
	border:1px solid #666666;
	top: 0px;
	left: 0px;
	background-color: #0AACFE;
	z-index: 100;
    overflow: hidden;
}

/* Invisible button for background clickthrough. */
#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 400;
}

/* Unexpanded */

.mainBg0 {
    background-image: url("cBg0.jpg");
    background-repeat: no-repeat;
    height: 480px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 320px;
    z-index: 2;

}

.mainBg1 {
    background-image: url("cBg1.jpg");
    background-repeat: no-repeat;
    height: 480px;
    left: -50px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 370px;
    z-index: 1;
}

.player {
    background-image: url("player.png");
    background-repeat: no-repeat;
    height: 216px;
    left: 130px;
    position: absolute;
    top: 54px;
    width: 98px;
    z-index: 2;
}

.mainLogo {
     background-image: url("mainLogo.png");
    background-repeat: no-repeat;
    height: 102px;
    left: 81px;
    opacity: 0;
    position: absolute;
    top: 107px;
    width: 166px;
    z-index: 6;
}


.shard0 {
    background-image: url("shard0.png");
    background-repeat: no-repeat;
    height: 180px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 320px;
    z-index: 2;
}

.shard1 {
    background-image: url("shard1.png");
    background-repeat: no-repeat;
    height: 325px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 320px;
    z-index: 2;
}

.shard2 {
    background-image: url("shard2.png");
    background-repeat: no-repeat;
    height: 208px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 233px;
    width: 320px;
    z-index: 2;
}

.shard3 {
    background-image: url("shard3.png");
    background-repeat: no-repeat;
    height: 154px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 325px;
    width: 320px;
    z-index: 2;
}

.shard4 {
}

.copy0 {
    background-image: url("copy0.png");
    background-repeat: no-repeat;
    height: 35px;
    left: 126px;
    opacity: 0;
    position: absolute;
    top: 126px;
    width: 78px;
    z-index: 3;
}

.copy1 {
    background-image: url("copy1.png");
    background-repeat: no-repeat;
    height: 32px;
    left: 80px;
    opacity: 0;
    position: absolute;
    top: 161px;
    width: 169px;
    z-index: 3;
}

.copy2 {
    background-image: url("copy2.png");
    background-repeat: no-repeat;
    height: 48px;
    left: 135px;
    opacity: 0;
    position: absolute;
    top: 194px;
    width: 91px;
    z-index: 3;
} 

.copy3 {
   background-image: url("copy3.png");
    background-repeat: no-repeat;
    height: 37px;
    left: 90px;
    opacity: 0;
    position: absolute;
    top: 222px;
    width: 152px;
    z-index: 3;
}

.copy4 {
    background-image: url("copy4.png");
    background-repeat: no-repeat;
    height: 34px;
    left: 59px;
    position: absolute;
    top: 257px;
    opacity: 0;
    width: 207px;
    z-index: 4;
}

.copy5 {
    background-image: url("copy5.png");
    background-repeat: no-repeat;
    height: 30px;
    left: 124px;
    opacity: 0;
    position: absolute;
    top: 211px;
    width: 76px;
    z-index: 6;
}

.copy6 {
     background-image: url("copy6.png");
    background-repeat: no-repeat;
    height: 23px;
    left: 89px;
    opacity: 0;
    position: absolute;
    top: 233px;
    width: 151px;
    z-index: 6;
}

.cCta{
    background-image: url("cCta.png");
    background-repeat: no-repeat;
    height: 45px;
    left: 80px;
    position: absolute;
    opacity:0;
    top: 282px;
    width: 161px;
    z-index: 6;
}

.cCtaT{
    background-image: url("cCtaT.png");
    background-repeat: no-repeat;
    height: 15px;
    left: 123px;
    opacity: 0;
    position: absolute;
    top: 294px;
    width: 76px;
    z-index: 6;
}

.cPegi{
    background-image: url("cPegi.png");
    background-repeat: no-repeat;
    height: 11px;
    left: 281px;
    opacity: 0;
    position: absolute;
    top: 348px;
    width: 32px;
    z-index: 6;
}

.eLogo{
    background-image: url("eLogo.jpg");
    background-repeat: no-repeat;
    height: 56px;
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 360px;
    width: 39px;
    z-index: 6;
}

.cXbox{
    background-image: url("cXbox.png");
    background-repeat: no-repeat;
    height: 127px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 367px;
    width: 320px;
    z-index: 6;

}


#guide0 {
    background-image: url("guide0.jpg");
    background-repeat: no-repeat;
    height: 480px;
    left: 0px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    width: 320px;
    z-index: 9000;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}