html {
    overflow:hidden;

}
body{
    width:300px;
    height:600px;
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow:hidden;
    position:absolute;
}



.background{

    position: absolute;
    background:url( "background.png" ) no-repeat ;
    width: 100%;
    height: 100%;
}

#bg-exit {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 400;
}


/* ==========================PIZZA IMAGE=================================== */

.pizza-image{
    background: url(pizza.png) no-repeat;
    position: absolute;
    top:310px;
    right: -400px;
    width: 375px;
    height: 261px;
    opacity: 1;
    z-index: 4;
}

/* pizza-image_IN */
@-webkit-keyframes pizza-image_IN { from { right:-300px; } to { right:-67px; } }
@-moz-keyframes pizza-image_IN { from { right:-300px; } to { right:-67px; } }
@keyframes pizza-image_IN { from { right:-300px; } to { right:-67px; } }

.pizza-image.show{
    -webkit-animation:pizza-image_IN 0.3s ease-out forwards;
    -moz-animation:pizza-image_IN 0.3s ease-out forwards;
    animation:pizza-image_IN 0.3s ease-out forwards;
}

/* ============================SUMMER LOCKUP================================= */

.red-circle {
    background: url(red-circle.png) no-repeat;
    position: absolute;
    width: 253px;
    height: 252px;
    z-index: 10;
    opacity:0;
    bottom:180px;
    left:23px;

}


@-webkit-keyframes summer_BOUNCE {from{-webkit-transform: scale( 0.1 ) rotate( 0deg ); opacity:0;  } to { -webkit-transform: scale(1)  rotate( 180deg ); opacity:1;  } }
@-moz-keyframes summer_BOUNCE { from{ -moz-transform: scale( 0.1 ) rotate( 0deg ); opacity:0;  } to { -moz-transform: scale(1)  rotate( 180deg ); opacity:1 } }
@keyframes summer_BOUNCE { from{ transform: scale( 0.1 ) rotate( 0deg ); opacity:0;  } to { transform: scale(1)  rotate( 180deg ); opacity:1  } }

@-webkit-keyframes summer_TOP { from {-webkit-transform: scale(1); } to  {-webkit-transform: scale(0.5); bottom:378px; left:-50px; } }
@-moz-keyframes summer_TOP { from { -moz-transform: scale(1); } to  {-moz-transform: scale(0.5); bottom:378px; left:-50px; }  }
@keyframes summer_TOP { from {transform: scale(1); } to  {transform: scale(0.5); bottom:378px; left:-50px;} }


.red-circle.show{
    -webkit-animation: summer_BOUNCE 1s 1 ease-in forwards, summer_TOP 0.3s 3.7s 1  ease-out forwards;
    -moz-animation: summer_BOUNCE 1s 1 ease-in forwards, summer_TOP 0.3s 3.7s 1  ease-out forwards;
    animation: summer_BOUNCE 1s 1 ease-in forwards, summer_TOP 0.3s 3.7s 1  ease-out forwards;
}


/* ==========================DEAL TEXT=================================== */


.copy {
    background: url(copy.png) no-repeat;
    position: absolute;
    left: 40px;
    bottom:200px;/*175px;*/
    width: 222px;
    height: 207px;
    z-index:11;
    opacity:0;
    
}

/* pizza-image_IN */
@-webkit-keyframes deal-text_IN { 0% { -webkit-transform: scale( 0.1 ); opacity : 1 } 70% { -webkit-transform: scale(1.3); opacity : 1 } 100% { -webkit-transform: scale(1); opacity : 1 } }
@-moz-keyframes deal-text_IN { 0% { -moz-transform: scale( 0.1 ); opacity : 1 } 90% { -moz-transform: scale(1.3); opacity : 1 } 100% { -moz-transform: scale(1); opacity : 1 } }
@keyframes deal-text_IN { 0% { transform: scale( 0.1 ); opacity : 1 } 90% { transform: scale(1.3); opacity : 1 } 100% { transform: scale(1); opacity : 1 } }


@-webkit-keyframes copy_TOP { from {-webkit-transform: scale(1);} to  {-webkit-transform: scale(0.5); bottom:400px; left:-37px; } }
@-moz-keyframes copy_TOP { from {-moz-transform: scale(1); } to  {-moz-transform: scale(0.5); bottom:400px; left:-37px;}  }
@keyframes copy_TOP { from {transform: scale(1); } to  {transform: scale(0.5); bottom:400px; left:-37px;} }

.copy.show{
    -webkit-animation:deal-text_IN 0.6s ease-in-out forwards, copy_TOP 0.3s 2.5s 1  ease-out forwards;
    -moz-animation:deal-text_IN 0.6s ease-in-out forwards, copy_TOP 0.3s 2.5s 1  ease-out forwards;
    animation:deal-text_IN 0.6s ease-in-out forwards, copy_TOP 0.3s 2.5s 1  ease-out forwards;
}

/* ==========================GET CHICKY WITH IT!=================================== */


.chicky {
    background: url(chicky.png) no-repeat;
    position: absolute;
    left:5px;
    bottom:80px;/*175px;*/
    width: 292px;
    height: 116px;
    z-index:1;
    opacity:0;
}

/* pizza-image_IN */

@-webkit-keyframes chicky_IN { from { -webkit-transform: scale(0.6); top:250px; } to {-webkit-transform: scale(1); top:347px; opacity:1; } }
@-moz-keyframes chicky_IN { from {-moz-transform: scale(0.6); top:250px; } to {-moz-transform: scale(1); top:347px; opacity:1; } }
@keyframes chicky_IN { from {transform: scale(0.6); top:250px; } to {transform: scale(1); top:347px; opacity:1; } }

@-webkit-keyframes chicky_OUT { from { -webkit-transform: scale(1); top:347px; opacity:1; } to {-webkit-transform: scale(0.6); top:300px; opacity:0; } }
@-moz-keyframes chicky_OUT { from {-moz-transform: scale(1); top:347px; opacity:1; } to {-moz-transform: scale(0.6); top:300px; opacity:0; } }
@keyframes chicky_OUT { from {transform: scale(1); top:347px; opacity:1; } to {transform: scale(0.6); top:300px; opacity:0; } }


.chicky.show{
    -webkit-animation:chicky_IN 0.3s ease-out forwards, chicky_OUT 0.3s 1.2s 1  ease-out forwards;;
    -moz-animation: chicky_IN 0.3s ease-out forwards, chicky_OUT 0.3s 1.2s 1  ease-out forwards;
    animation: chicky_IN 0.3s ease-out forwards, chicky_OUT 0.3s 1.2s 1  ease-out forwards;
}


/* ==========================NEW=================================== */


.new {
    background: url(new-banner.png) no-repeat;
    position: absolute;
    left:55px;
    top:118px;
    width: 188px;
    height: 63px;
    z-index:11;
    opacity:0;
}

/* pizza-image_IN */
@-webkit-keyframes new_IN { from { -webkit-transform: scale(0.5);  top:150px;  } to {-webkit-transform: scale(1); top:127Xpx; opacity:1; } }
@-moz-keyframes new_IN { from {-moz-transform: scale(0.5);  top:150px;  } to {-moz-transform: scale(1); top:127px; opacity:1; } }
@keyframes new_IN { from {transform: scale(0.5); top:150px;  } to {transform: scale(1); top:127px; opacity:1; } }


@-webkit-keyframes new_TOP { from {-webkit-transform: scale(1);} to  {-webkit-transform: scale(0.5); top:-4px; left:-19px; } }
@-moz-keyframes new_TOP { from {-moz-transform: scale(1); } to  {-moz-transform: scale(0.5); top:-4px;  left:-19px;}  }
@keyframes new_TOP { from {transform: scale(1); } to  {transform: scale(0.5); top:-4px; left:-19px;} }



.new.show{
    -webkit-animation:new_IN 0.3s ease-out forwards, new_TOP 0.3s 2.5s 1  ease-out forwards;
    -moz-animation: new_IN 0.3s ease-out forwards, new_TOP 0.3s 2.5s 1  ease-out forwards;
    animation: new_IN 0.3s ease-out forwards, new_TOP 0.3s 2.5s 1  ease-out forwards;
}



/* ==========================CTA =================================== */



.cta{
    background: url(order-now-cta.png) no-repeat;
    position: absolute;
    width: 186px;
    height: 186px;
    z-index: 15;
    opacity: 0;
    left: 55px;
    bottom: 220px;
}

@-webkit-keyframes cta_IN { from { -webkit-transform: scale( 2.5 ) rotate( 45deg ); opacity : 0; } to { -webkit-transform: scale( 1 ) rotate( 0deg ); opacity: 1 } }
@-moz-keyframes cta_IN { from { -moz-transform: scale( 2.5 ) rotate( 45deg ); opacity : 0; } to { -moz-transform: scale( 1 ) rotate( 0deg ); opacity: 1 } }
@keyframes cta_IN { from { transform: scale( 2.5 ) rotate( 45deg ); opacity : 0; } to { transform: scale( 1 ) rotate( 0deg ); opacity: 1 } }

@-webkit-keyframes cta_BOUNCE { from{ -webkit-transform: scale( 0.8 ); opacity : 1 } to { -webkit-transform: scale(1); opacity : 1 } }
@-moz-keyframes cta_BOUNCE { from{ -moz-transform: scale( 0.8 ); opacity : 1 } to { -moz-transform: scale(1); opacity : 1 } }
@keyframes cta_BOUNCE { from{ transform: scale( 0.8 ); opacity : 1 } to { transform: scale(1); opacity : 1 } }

.cta.show{
    -webkit-animation: cta_IN 0.3s 1 ease-out forwards;
    -moz-animation: cta_IN 0.3s 1 ease-out forwards;
    animation: cta_IN 0.3s 1 ease-out forwards;
}

.cta.bounce{
    -webkit-animation: cta_BOUNCE .3s infinite alternate;
    -moz-animation: cta_BOUNCE .3s infinite alternate;
    animation: cta_BOUNCE .3s infinite alternate;
}


/* legals ................................................ */
.parent {
    position:relative;
    float:left;
    /*left:1px;*/
    width:300px;
    height:600px;
}
.legal {
    background-color:none;
    z-index:0;
    position:absolute;
    bottom:0;
    left:0;
    width: 180px;
}


.legal-text {
    font-size:9px;
    color:#FFFFFF;
	line-height: 1.25;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:left;
	margin-top: 4px;
    padding-top: 0px;
    margin-bottom: 8px;
    margin-left:5px;
    margin-right:6px;
}