@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}

#doubleclick_logo_dc{
	position:absolute;
	top: 4px;
	left: 4px;	
}

/* Div layer for the entire banner. */
#container_dc {
	position: absolute;
	width: 298px;
	height: 248px;
	border:1px solid #000000;
	top: 0px;
	left: 0px;
	margin: auto;
	overflow:hidden;
}

#content_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #FFF;
	z-index: 100;
}

/* Invisible button for background clickthrough. */
#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* Custom CSS starts */

#background{
	position:absolute;
	left:0;
	top:0;
	width:300px;
	height:250px;
	-webkit-animation: bg_anim ease-out 3s 1;
	-webkit-animation-fill-mode:forwards;
	animation: bg_anim ease-out 3s 1;
	animation-fill-mode:forwards;
}
@-webkit-keyframes bg_anim {
  0% {
	-webkit-transform: scale(1, 1);
  }
  100% {
	-webkit-transform: scale(1.86, 1.86);
  }
}
@keyframes bg_anim {
  0% {
	transform: scale(1, 1);
  }
  100% {
	transform: scale(1.86, 1.86);
  }
}

#fade{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0.50);
	opacity:0;
	-webkit-animation: fade_anim ease 4s 1;
	-webkit-animation-fill-mode:forwards;
	animation: fade_anim ease 4s 1;
	animation-fill-mode:forwards;
}
@-webkit-keyframes fade_anim {
  0% {
	opacity:0;
  }
  50% {
	opacity:0;
  }
  100% {
	opacity:1;
  }
}
@keyframes fade_anim {
  0% {
	opacity:0;
  }
  50% {
	opacity:0;
  }
  100% {
	opacity:1;
  }
}

#text1{
	position:absolute;
	left:0;
	top:93px;
	opacity:0;
	-webkit-animation: text1_anim ease 10s 1;
	-webkit-animation-fill-mode:forwards;
	animation: text1_anim ease 10s 1;
	animation-fill-mode:forwards;
}
@-webkit-keyframes text1_anim {
  0% {
	opacity:0;
  }
  30% {
	opacity:0;
  }
  40% {
	opacity:1;
  }
  55% {
	opacity:1;
  }
  65% {
	opacity:0;
  }
  100% {
	opacity:0;
  }
}
@keyframes text1_anim {
  0% {
	opacity:0;
  }
  30% {
	opacity:0;
  }
  40% {
	opacity:1;
  }
  55% {
	opacity:1;
  }
  65% {
	opacity:0;
  }
  100% {
	opacity:0;
  }
}

#text2{
	position:absolute;
	left:0;
	top:93px;
	opacity:0;
	-webkit-animation: text2_anim ease 10s 1;
	-webkit-animation-fill-mode:forwards;
	animation: text2_anim ease 10s 1;
	animation-fill-mode:forwards;
}
@-webkit-keyframes text2_anim {
  0% {
	opacity:0;
  }
  65% {
	opacity:0;
  }
  75% {
	opacity:1;
  }
  90% {
	opacity:1;
  }
  100% {
	opacity:0;
  }
}
@keyframes text2_anim {
  0% {
	opacity:0;
  }
  65% {
	opacity:0;
  }
  75% {
	opacity:1;
  }
  90% {
	opacity:1;
  }
  100% {
	opacity:0;
  }
}

#text3{
	position:absolute;
	left:39px;
	top:91px;
	opacity:0;
	-webkit-animation: text3_anim ease 20s 1;
	-webkit-animation-fill-mode:forwards;
	animation: text3_anim ease 20s 1;
	animation-fill-mode:forwards;
}
@-webkit-keyframes text3_anim {
  0% {
	opacity:0;
  }
  50% {
	opacity:0;
  }
  55% {
	opacity:1;
  }
  100% {
	opacity:1;
  }
}
@keyframes text3_anim {
  0% {
	opacity:0;
  }
  50% {
	opacity:0;
  }
  55% {
	opacity:1;
  }
  100% {
	opacity:1;
  }
}

#logo{
	position:absolute;
	right:20px;
	bottom:20px;
	-webkit-animation: logo_anim ease 20s 1;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin: right bottom;
	animation: logo_anim ease 20s 1;
	animation-fill-mode:forwards;
	transform-origin: right bottom;
}
@-webkit-keyframes logo_anim {
  0% {
	-webkit-transform: scale(0.4, 0.4) translate(0,0);
  }
  50% {
	-webkit-transform: scale(0.4, 0.4) translate(0,0);
  }
  55% {
	-webkit-transform: scale(1, 1) translate(-20px,-105px);
  }
  100% {
	-webkit-transform: scale(1, 1) translate(-20px,-105px);
  }
}
@keyframes logo_anim {
  0% {
	transform: scale(0.4, 0.4) translate(0,0);
  }
  50% {
	transform: scale(0.4, 0.4) translate(0,0);
  }
  55% {
	transform: scale(1, 1) translate(-20px,-105px);
  }
  100% {
	transform: scale(1, 1) translate(-20px,-105px);
  }
}

#cta{
	position:absolute;
	left:78px;
	top:154px;
	opacity:0;
	-webkit-animation: cta_anim ease 20s 1;
	-webkit-animation-fill-mode:forwards;
	animation: cta_anim ease 20s 1;
	animation-fill-mode:forwards;
}
@-webkit-keyframes cta_anim {
  0% {
	opacity:0;
  }
  55% {
	opacity:0;
  }
  60% {
	opacity:1;
  }
  100% {
	opacity:1;
  }
}
@keyframes cta_anim {
  0% {
	opacity:0;
  }
  55% {
	opacity:0;
  }
  60% {
	opacity:1;
  }
  100% {
	opacity:1;
  }
}