    /*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Images
3.0 Copy Elements
4.0 CTA
5.0 Sprites
6.0 Miscellaneous
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    background-color: #FFF;
}
/*--------------------------------------------------------------
2.0 Images
--------------------------------------------------------------*/

#bkg {
    position: absolute;
    background: url("../images/bkgCrp.jpg");
    width: 382px;
    height: 754px;
    top: 0px;
    left: 0px;
}

#logo {
    position: absolute;
    background: url("../images/logo.png");
    width: 155px;
    height: 119px;
    left: 168px;
    top: -30px;
}
#gaz {
    position: absolute;
    background: url("../images/gaz.png");
    width: 118px;
    height: 96px;
    top: 0px;
    left: 0px;
}
#gaz-eyes {
    position: absolute;
    background: url("../images/gaz_eyes.png");
    width: 118px;
    height: 96px;
    top: 0px;
    right:0px;
}

/*--------------------------------------------------------------
3.0 Copy Elements 
--------------------------------------------------------------*/
#copy1_1{
    position: absolute;
    background: url("../images/copy1_0.png");
    top: 490px;
    left: 0px;
    width: 196px;
    height: 32px;
    z-index: 4;
    opacity: 0;
}

#copy1_2{
    position: absolute;
    background: url("../images/copy1_1.png");
    top: 520px;
    left: 0px;
    width: 168px;
    height: 32px;
    z-index: 4;
    opacity: 0;
}

#copy1_3{
    position: absolute;
    background: url("../images/copy1_2.png");
    top: 550px;
    left: 0px;
    width: 196px;
    height: 32px;
    z-index: 4;
    opacity: 0;
}


#copy2_1{
    position: absolute;
    background: url("../images/copy2_1.png");
    top: 490px;
    left: 0px;
    width: 492px;
    height: 23px;
    opacity: 0;
}

#copy2_2{
    position: absolute;
    background: url("../images/copy2_2.png");
    top: 520px;
    left: 0px;
    width: 492px;
    height: 23px;
    opacity: 0;
}


/*--------------------------------------------------------------
4.0 CTA Elements
--------------------------------------------------------------*/
#clickthrough {
    position: absolute;
    top: 0px;
    left:0px;
    cursor: pointer;
    width: 300px;
    height: 600px;
    background-color: #009de5;
    opacity: 0;
}
#cta{
    position: absolute;
    top: 700px;
    left: 170px;
    background: url("../images/cta.png");
    width: 110px;
    height: 27px;
    opacity: 0;
}
/*--------------------------------------------------------------
5.0 Sprites
--------------------------------------------------------------*/

/*--------------------------------------------------------------
6.0 Miscellaneous
--------------------------------------------------------------*/


.wrapper {
    position: absolute;
    width: 300px;
    height: 600px;
    background-color: #000;
    position: relative;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid gray;
}
#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 600px;
    background-color: #000;
    z-index: 0;
    opacity: 0;
}

/* particle sprites */

#bits {
    position: absolute;
    width: 45px;
    height: 93px;
    top: 240px;
    left: 120px;
    background-image: url("../images/partSprite.png");
   
    -webkit-animation: play .4s steps(4) 30;
       -moz-animation: play .4s steps(4) 30;
        -ms-animation: play .4s steps(4) 30;
         -o-animation: play .4s steps(4) 30;
            animation: play .4s steps(4) 30;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -180px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -180px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -180px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -180px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -180px; }
}

