* {
	margin: 0;
	padding: 0;
}
.ad {
	position: relative;
	top: 0;
	left: 0;
	width: 300px;
	height: 250px;
	background-color: #000000;
	border: 1px solid #000;
	box-sizing: border-box;
	overflow: hidden;
}
#frame1,#frame2{
	width: 300px;
	height: 250px;
	top: -1px;
	left: -1px;
	position: absolute;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;
}
.clickTag {
	width: 300px;
	height: 250px;
	display: block;
	position: absolute;
	cursor: pointer;
	left: 0px;
	top: 0px;
	z-index: 999;
	background-color: rgba(255,255,255,0);
}
#img1,#copy1,#copy2{
	position:absolute;
	top:0px; 
	left:0px; 
	opacity:0; 
	z-index:1
}
#end_copy1,#end_copy2{
	position:absolute;
	top:0px; 
	left:0px; 
	opacity:0; 
	z-index:3;
}
#gradient{
	position:absolute;
	top:0px; 
	left:0px; 
	opacity:0; 
	z-index:2;
}
#logo1{
	top:0px;
	left:0px;
	opacity:0;
	position:absolute;
	z-index:2;
}
#logo2{
	top:0px;
	left:0px;
	position:absolute;
	opacity:0;
	z-index:3;
}
#cta{
	position:absolute;
	bottom:23px;
	left:18px;
	width:173px; 
	height:13px; 
	opacity:0; 
	z-index:999; 
	cursor:pointer; 
	background:url(../images/cta.png)0 0;
}
#cta:hover{
	position:absolute;
	background:url(../images/cta.png) 0 -15px;
}