html {
    overflow:hidden;
}


/*////////////////////KEY FRAMES////////////////*/

@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeout { from { opacity:1; } to { opacity:0; } }
@keyframes fadeout { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeout { from { opacity:1; } to { opacity:0; } }



#bg-exit {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 400;
}



body{
    width:468px;
    height:60px;
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow:hidden;
    position:absolute;
}

#banner{
    position: absolute;
    background:url( "background.jpg" ) no-repeat ;
    width: 100%;
    height: 100%;
}









