
html {
	overflow:hidden;
	
}

body{
	background:url('background1.jpg') no-repeat ;
	height:90px;
	margin:0;
	padding:0;
	width:728px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:hidden;
	position:absolute;
	
}

#banner {
	overflow:hidden;	
}


/* KEYFRAMES */

@-webkit-keyframes leftthe { from { left:-200px; } to { left:5px;} }
@keyframes leftthe  { from { left:-200px; } to { left:5px;} }
@-moz-keyframes leftthe  { from { left:-200px; } to { left:5px;} }

@-webkit-keyframes leftthe2 { from { left:-200px; } to { left:5px;} }
@keyframes leftthe2  { from { left:-200px; } to { left:5px;} }
@-moz-keyframes leftthe2  { from { left:-200px; } to { left:5px;} }

@-webkit-keyframes rightthe { from { left:5px;} to { left:300px; } }
@keyframes rightthe { from { left:5px;} to { left:300px; } }
@-moz-keyframes rightthe { from { left:5px;} to { left:300px; } }


@-webkit-keyframes lefttitle { from { left:-200px; top:30px; } to { left:12px; top:15px; } }
@keyframes  lefttitle { from { left:-200px; top:30px; } to { left:12px; top:15px; } }
@-moz-keyframes  lefttitle { from { left:-200px; top:30px; } to { left:12px; top:15px; } }

@-webkit-keyframes righttitle { from { left:12px; top:15px; } to { left:1000px; top:8px; } }
@keyframes righttitle { from { left:12px; top:15px; } to { left:1000px; top:8px; } }
@-moz-keyframes righttitle { from { left:12px; top:15px; } to { left:1000px; top:8px; } }

@-webkit-keyframes lefttitle2 { from { left:-200px; top:30px; } to { left:12px; top:15px; } }
@keyframes  lefttitle2 { from { left:-200px; top:30px; } to { left:12px; top:15px; } }
@-moz-keyframes  lefttitle2 { from { left:-200px; top:30px; } to { left:12px; top:15px; } }




@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeout { from { opacity:1; } to { opacity:0; } }
@keyframes fadeout { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeout { from { opacity:1; } to { opacity:0; } }


@-webkit-keyframes rightslide { from { right:-200px; } to { right:30px; } }
@keyframes rightslide { from { right:-200px; } to { right:30px; } }
@-moz-keyframes rightslide { from { right:-200px; } to { right:30px; } }

@-webkit-keyframes rightslide2 { from { right:-200px; } to { right:22px; } }
@keyframes rightslide { from { right:-200px; } to { right:22px; } }
@-moz-keyframes rightslide { from { right:-200px; } to { right22px; } }

@-webkit-keyframes rightslide1 { from { right:-200px; } to { right:0px; } }
@keyframes rightslide1 { from { right:-200px; } to { right:0px; } }
@-moz-keyframes rightslide1 { from { right:-200px; } to { right:0px; } }

@-webkit-keyframes topslide { from { top: 1px; } to { top:25px; } }
@keyframes topslide  { from { top: 1px; } to { top:25px; } }
@-moz-keyframes topslide  { from { top: 1px; } to { top:25px; } }

@-webkit-keyframes Dtopslide { from { top: -200px; } to { top:1px; } }
@keyframes Dtopslide  { from { top: -200px; } to { top:1px; } }
@-moz-keyframes Dtopslide  { from { top: -200px; } to { top:1px; } }

@-webkit-keyframes Ptopslide { from { top: -200px; } to { top:-15px; } }
@keyframes Ptopslide  { from { top: -200px; } to { top:-15px; } }
@-moz-keyframes Ptopslide  { from { top: -200px; } to { top:-15px; } }



@-webkit-keyframes bottomslide { from { top: 60px; } to { top:25px; } }
@keyframes bottomslide  { from { top: 60px; } to { top:25px; } }
@-moz-keyframes bottomslide  { from { top: 60px; } to { top:25px; } }


@-webkit-keyframes bottomslide1 { from { top: 60px; } to { top:25px; } }
@keyframes bottomslide1  { from { top: 60px; } to { top:25px; } }
@-moz-keyframes bottomslide1  { from { top: 60px; } to { top:25px; } }

@-webkit-keyframes BPbottomslide { from { top: 200px; } to { top:5px; } }
@keyframes BPbottomslide  { from { top: 200px; } to { top:5px; } }
@-moz-keyframes BPbottomslide  { from { top: 200px; } to { top:5px; } }

@-webkit-keyframes SPbottomslide { from { top: 200px; } to { top:0px; } }
@keyframes SPbottomslide  { from { top: 200px; } to { top:0px; } }
@-moz-keyframes SPbottomslide  { from { top: 200px; } to { top:0px; } }

@-webkit-keyframes Pbottomslide { from { top: 200px; } to {top:40px; } }
@keyframes Pbottomslide  { from { top: 200px; } to { top:40px; } }
@-moz-keyframes Pbottomslide  { from { top: 200px; } to { top:40px; } }

@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}

/* LOGO*/

.the {
	background:url(the.png);
	position:absolute;
	left:-200px;
	top: 14px;
	width:30px;
	height:16px;
	opacity:1;
	
	-webkit-animation:leftthe2 0.5s 1.4s 1 linear forwards, rightthe 0.2s 2.8s linear forwards, leftthe 0.2s 6.2s 1 linear forwards;

    -moz-animation: leftthe2 0.5s 1.4s 1 linear forwards, rightthe 0.2s 2.8s linear forwards, leftthe 0.2s 6.2s 1 linear forwards;
    animation:leftthe2 0.5s 1.4s 1 linear forwards, rightthe 0.2s 2.8s linear forwards, leftthe 0.2s 6.2s 1 linear forwards;
}



.small_pizza {
	background:url(left-pizza.png);
	  position: absolute;
	  left:270px;
	  top: 300px;
	  width: 189px;
	  height: 90px;
	  z-index:1;
	  opacity:1;
	  -webkit-animation:SPbottomslide 0.6s 0.7s linear forwards;
  	  -moz-animation:SPbottomslide 0.6s 0.7s linear forwards;
      animation:SPbottomslide 0.6s 0.7s linear forwards;
}

.order {
	background:url(order.png);
	  position: absolute;
	  top:6px;
	  right:160px;
	  width: 85px;
	  height: 75px;
	  z-index:1;
	  opacity:0;
	  background-size:cover;
	  -webkit-animation: fadein 0.2s 7s 1 linear forwards, bounce .3s infinite alternate;
      -o-animation: fadein 0.2s 7s 1 linear forwards, bounce .3s infinite alternate;
      -moz-animation: fadein 0.2s 7s 1 linear forwards, bounce .3s infinite alternate;
      animation: fadein 0.2s 7s 1 linear forwards, bounce .3s infinite alternate;

}

.doughnuts {
	background:url(right-pizza.png);
	  position: absolute;
	  right:130px;
	  top:-200px;
	  width: 132px;
	  height: 89px;
	  z-index:-1;
	  opacity:1;
	  -webkit-animation: Dtopslide 0.6s 1.1s linear forwards;
  	  -moz-animation:Dtopslide 0.6s 1.1s linear forwards;
      animation:Dtopslide 0.6s 1.1s linear forwards;
}




.title {
	background:url(midweek.png);
	  position: absolute;
	  left:-200px;
	  width: 184px;
	  height: 62px;
	  z-index:2;
	  opacity:1;
	  
	  -webkit-animation:lefttitle2 0.5s 1.4s 1 linear forwards, righttitle 0.5s 2.8s linear forwards, lefttitle 0.2s 6.2s 1 linear forwards;
  	  -moz-animation:lefttitle2 0.5s 1.4s 1 linear forwards, righttitle 0.5s 2.8s linear forwards, lefttitle 0.2s 6.2s 1 linear forwards;
      animation:lefttitle2 0.5s 1.4s 1 linear forwards, righttitle 0.5s 2.8s linear forwards, lefttitle 0.2s 6.2s 1 linear forwards;
}

.title2 {
	background:url(title2.png);
	  position: absolute;
	  left: -200px;
	  width: 185px;
	  height: 65px;
	  z-index:2;
	  opacity:1;
	  
	  -webkit-animation:lefttitle 0.5s 3.3s 1 linear forwards, righttitle 0.5s 6s linear forwards;
  	  -moz-animation:lefttitle 0.5s 3.3s 1 linear forwards, righttitle 0.5s 6s linear forwards;
      animation:lefttitle 0.5s 3.3s 1 linear forwards, righttitle 0.5s 6s linear forwards;
}


.price {
	  background:url(price.png);
	  position: absolute;
	  width: 90px;
	  height: 47px;
	  z-index:3;
	  opacity:1;
	  
	  left: 205px;
	  top: -200px;
	
	  -webkit-animation: Pbottomslide 0.8s 3.3s linear forwards;
  	  -moz-animation:Pbottomslide 0.8s 3.3s linear forwards;
      animation:Pbottomslide 0.8s 3.3s linear forwards;   
}


.parent {
    position:relative;
    float:right;
    width:728px;
    height:90px;
	overflow: hidden;
}
.legal {
    background-color:#006fba;
    z-index:110;
    position:absolute;
    bottom:0;
    right:0;
    width: auto;
    transition: all .4s;
}
.legal:hover {
    width:50%;
    /* To make sure the width is aligned with the parent div */
    cursor:default;
    transition: all .4s;
}

.legal-text {
	padding:0px 4px;
	margin-top: 4px;
    padding-top: 0px;
    margin-bottom: 4px;
	margin-left:6px;
	margin-right:6px;
}

.legal-text, .legal span {
    font-size:9px;
    color:#FFFFFF;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
}
.legal span {
    display:none;
    padding:5px 10px;
    /* Expanded text is hidden */
}
.legal:hover p {
    display:none;
    /* the text is hidden */
}
.legal:hover span {
    display:block;
    /* Expanded text is shown */
}






