* {
	margin: 0;
	padding: 0;
}

.ad {
	position: relative;
	top: 0;
	left: 0;
	width: 120px;
	height: 600px;
	background-color: #FFF;
	border: 1px solid #000;
	box-sizing: border-box;
	overflow: hidden;
}
.frame1, .frame2{
	width: 120px;
	height: 600px;
	top: 0px;
	left: 0px;
	position: absolute;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;
}
.clickTag {
	width: 120px;
	height: 600px;
	display: block;
	position: absolute;
	cursor: pointer;
	left: 0px;
	top: 0px;
	z-index: 999;
	background-color: rgba(255,255,255,0);
}

.whiteBg_logo {
	position: absolute;
	top: -1px;
	left: -1px;
	opacity: 0;
	z-index: 10;
}
.bg {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: 1;
}
.food {
	position: absolute;
	top: 283px;
	left: 84px;
	opacity: 0;
	z-index: 3;
}

.tray {
	position: absolute;
	top: 326px;
	left: 0px;
	opacity: 0;
	z-index: 2;
}

.lid {
	position: absolute;
	top: 257px;
	left: 64px;
	opacity: 0;
	z-index: 4;
}

.lid2{
	position: absolute;
	top: 257px;
	left: 58px;
	opacity: 0;
	z-index: 4;
}

.hand{
	position: absolute;
	top: 193px;
	left: 122px;
	opacity: 0;
	z-index: 3;
}

.logo {
	position: absolute;
	left: 87px;
	bottom: 20px;
	opacity: 0;
	z-index: 2;
}

.copy1 {
	position: absolute;
	left: 29px;
	top: 121px;
	opacity: 0;
	z-index: 2;
}

.copy2 {
	position: absolute;
	left: 74px;
	top: 127px;
	opacity: 0;
	z-index: 2;
}

.copy3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 600px;
	opacity: 0;
	z-index: 4;
}
.copy4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 600px;
	opacity: 0;
	z-index: 2;
}


.train {
	position: absolute;
	left: -14000px;
	top: 420px;
	opacity: 0;
	z-index: 2;
}

.track {
	position: absolute;
	left: -7px;
	bottom: 99px;
	opacity: 0;
	z-index: 2;
}

.copy5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 600px;
	opacity: 0;
	z-index: 2;
}
.copy6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 600px;
	opacity: 0;
	z-index: 2;
}

.copy7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 600px;
	opacity: 0;
	z-index: 2;
}

.copy8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 600px;
	opacity: 0;
	z-index: 2;
}

.cta_copy {
	position: absolute;
	left: 110px;
	top: 394px;
	width: 79px;
	height: 11px;
	opacity: 0;
	z-index: 6;
}
.cta_bg {
	position: absolute;
	left: 93px;
	top: 387px;
	width: 111px;
	height: 26px;
	opacity: 0;
	z-index: 5;
}
.tcs {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 600px;
	opacity: 0;
	z-index: 5;
}
