*
{	box-sizing:border-box;
}
@font-face {
  font-family: 'MinionPro-Regular';
  src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MinionPro-Regular.otf')  format('opentype'),
	     url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf')  format('truetype'), url('../fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'QuicksandBold-Regular';
  src: url('../fonts/QuicksandBold-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/QuicksandBold-Regular.otf')  format('opentype'), url('../fonts/QuicksandBold-Regular.woff') format('woff'), url('../fonts/QuicksandBold-Regular.ttf')  format('truetype'), url('../fonts/QuicksandBold-Regular.svg#QuicksandBold-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBook-Regular';
  src: url('../fonts/QuicksandBook-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/QuicksandBook-Regular.otf')  format('opentype'), url('../fonts/QuicksandBook-Regular.woff') format('woff'), url('../fonts/QuicksandBook-Regular.ttf')  format('truetype'), url('../fonts/QuicksandBook-Regular.svg#QuicksandBook-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
{	margin:0px;
	padding:0px;
	 font-family: 'QuicksandBook-Regular';
	 color:#586da4;
	 font-size:14px;
	 line-height:16px;
}
.main-container
{	width:771px;
	margin:0 auto;
	padding-top:36px;
}
.left-panel
{	width:387px;
	padding:53px 0px 0 0;
	float:left;
}
.left-panel p span
{	font-family: 'QuicksandBold-Regular';
}
h1
{	font-family: 'QuicksandBook-Regular';
	font-size:30px;
	color:#586da4;
	padding:0px;
	margin:21px 0 10px 0;
	float:left;
	width:100%;
}
.left-panel ul
{	margin:0px;
	padding:0px;
	list-style:none;
}
.left-panel ul li
{	float:left;
	width:100%;
	margin:0 0 5px 0;
}
.left-panel ul li label
{	font-size:18px;
	display:inline-block;
	font-size:14px;
	width:70px;
}
.left-panel ul li input
{	font-size:18px;
	display:inline-block;
	width:315px;
	border:none;
	outline:none;
	border-bottom:solid 1px #586da4;
	font-family: 'QuicksandBook-Regular';
	color:#586da4;
}
.left-panel ul li input[type=submit]
{	line-height:30px;
	width:94px;
	text-align:center;
	color:#fff;
	font-size:15px;
	background:#f36c3c;
	border:none;
	margin-top:15px;
	cursor:pointer;
}
.error-container
{	margin:0 auto;
	width:771px;
	overflow:hidden;
	padding:30px 0px;
	text-align:left;
	color:#ff0000;
	font-size:12px;
}
.error-container.success
{	color:#0C6 !important;
}
.right-panel
{	width:353px;
	padding:0 0 0 0;
	float:right;	
}
.logo
{	float:left;
	width:100%;
}