.banner {
  background: #fff;
  cursor: pointer;
  height: 600px;
  left: 50%;
  margin-left: -60px;
  margin-top: -300px;
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 50%;
  width: 120px; }
  .banner .border {
    border: 1px solid #ccc;
    display: block;
    height: 598px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 118px;
    z-index: 999; }

.preloader {
  background: #fff;
  height: 100%;
  width: 100%; }
  .preloader .circle {
    border: 5px solid #ddd;
    border-bottom-color: #333;
    border-radius: 50%;
    height: 20px;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    transition: all 0.7s ease-in-out;
    animation: spin 0.5s linear infinite;
    width: 20px; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiVVMvT2NlYW4vMTIweDYwMC9zdHlsZXMvc3R5bGUuY3NzIiwic291cmNlcyI6WyJVUy9PY2Vhbi8xMjB4NjAwL3N0eWxlcy9zdHlsZS5zY3NzIiwiVVMvT2NlYW4vMTIweDYwMC9zdHlsZXMvYmFzZS9fYmFubmVyLnNjc3MiLCJVUy9PY2Vhbi8xMjB4NjAwL3N0eWxlcy9iYXNlL19wcmVsb2FkZXIuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0ICdiYXNlL2Jhbm5lcic7XG5AaW1wb3J0ICdiYXNlL3ByZWxvYWRlcic7XG4iLCIkYmFubmVyLXdpZHRoOiAxMjBweDtcbiRiYW5uZXItaGVpZ2h0OiA2MDBweDtcblxuLmJhbm5lciB7XG4gIGJhY2tncm91bmQ6ICNmZmY7XG4gIGN1cnNvcjogcG9pbnRlcjtcbiAgaGVpZ2h0OiAkYmFubmVyLWhlaWdodDtcbiAgbGVmdDogNTAlO1xuICBtYXJnaW4tbGVmdDogLSRiYW5uZXItd2lkdGggLyAyO1xuICBtYXJnaW4tdG9wOiAtJGJhbm5lci1oZWlnaHQgLyAyO1xuICBvdmVyZmxvdzogaGlkZGVuO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiA1MCU7XG4gIHdpZHRoOiAkYmFubmVyLXdpZHRoO1xuXG4gIC5ib3JkZXIge1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICNjY2M7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgaGVpZ2h0OiAkYmFubmVyLWhlaWdodCAtIDI7XG4gICAgbGVmdDogMDtcbiAgICBwb2ludGVyLWV2ZW50czogbm9uZTtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiAwO1xuICAgIHdpZHRoOiAkYmFubmVyLXdpZHRoIC0gMjtcbiAgICB6LWluZGV4OiA5OTk7XG4gIH1cbn1cbiIsIiRwcmVsb2FkZXItc2l6ZTogMjBweDtcbiRwcmVsb2FkZXItd2lkdGg6IDVweDtcblxuLnByZWxvYWRlciB7XG4gIGJhY2tncm91bmQ6ICNmZmY7XG4gIGhlaWdodDogMTAwJTtcbiAgd2lkdGg6IDEwMCU7XG5cbiAgLmNpcmNsZSB7XG4gICAgYm9yZGVyOiAkcHJlbG9hZGVyLXdpZHRoIHNvbGlkICNkZGQ7XG4gICAgYm9yZGVyLWJvdHRvbS1jb2xvcjogIzMzMztcbiAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgaGVpZ2h0OiAkcHJlbG9hZGVyLXNpemU7XG4gICAgbGVmdDogNTAlO1xuICAgIG1hcmdpbi1sZWZ0OiAtKCRwcmVsb2FkZXItc2l6ZSArICRwcmVsb2FkZXItd2lkdGgpIC8gMjtcbiAgICBtYXJnaW4tdG9wOiAtKCRwcmVsb2FkZXItc2l6ZSArICRwcmVsb2FkZXItd2lkdGgpIC8gMjtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiA1MCU7XG4gICAgdHJhbnNpdGlvbjogYWxsIDAuN3MgZWFzZS1pbi1vdXQ7XG4gICAgYW5pbWF0aW9uOiBzcGluIDAuNXMgbGluZWFyIGluZmluaXRlO1xuICAgIHdpZHRoOiAkcHJlbG9hZGVyLXNpemU7XG4gIH1cbn1cblxuQGtleWZyYW1lcyBzcGluIHtcbiAgZnJvbSB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMGRlZyk7XG4gIH1cbiAgdG8ge1xuICAgIHRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7XG4gIH1cbn1cbiJdLCJtYXBwaW5ncyI6IkFDR0EsQUFBQSxPQUFPLENBQUM7RUFDTixVQUFVLEVBQUUsSUFBSztFQUNqQixNQUFNLEVBQUUsT0FBUTtFQUNoQixNQUFNLEVBTFEsS0FBSztFQU1uQixJQUFJLEVBQUUsR0FBSTtFQUNWLFdBQVcsRUFBRSxLQUFDO0VBQ2QsVUFBVSxFQUFFLE1BQUM7RUFDYixRQUFRLEVBQUUsTUFBTztFQUNqQixRQUFRLEVBQUUsUUFBUztFQUNuQixRQUFRLEVBQUUsUUFBUztFQUNuQixHQUFHLEVBQUUsR0FBSTtFQUNULEtBQUssRUFkUSxLQUFLLEdBMkJuQjtFQXhCRCxBQWFFLE9BYkssQ0FhTCxPQUFPLENBQUM7SUFDTixNQUFNLEVBQUUsY0FBZTtJQUN2QixPQUFPLEVBQUUsS0FBTTtJQUNmLE1BQU0sRUFBRSxLQUFjO0lBQ3RCLElBQUksRUFBRSxDQUFFO0lBQ1IsY0FBYyxFQUFFLElBQUs7SUFDckIsUUFBUSxFQUFFLFFBQVM7SUFDbkIsR0FBRyxFQUFFLENBQUU7SUFDUCxLQUFLLEVBQUUsS0FBYTtJQUNwQixPQUFPLEVBQUUsR0FBSSxHQUNkOztBQ3ZCSCxBQUFBLFVBQVUsQ0FBQztFQUNULFVBQVUsRUFBRSxJQUFLO0VBQ2pCLE1BQU0sRUFBRSxJQUFLO0VBQ2IsS0FBSyxFQUFFLElBQUssR0FnQmI7RUFuQkQsQUFLRSxVQUxRLENBS1IsT0FBTyxDQUFDO0lBQ04sTUFBTSxFQVJRLEdBQUcsQ0FRUSxLQUFLLENBQUMsSUFBSTtJQUNuQyxtQkFBbUIsRUFBRSxJQUFLO0lBQzFCLGFBQWEsRUFBRSxHQUFJO0lBQ25CLE1BQU0sRUFaTyxJQUFJO0lBYWpCLElBQUksRUFBRSxHQUFJO0lBQ1YsV0FBVyxFQUFFLE9BQUM7SUFDZCxVQUFVLEVBQUUsT0FBQztJQUNiLFFBQVEsRUFBRSxRQUFTO0lBQ25CLEdBQUcsRUFBRSxHQUFJO0lBQ1QsVUFBVSxFQUFFLG9CQUFxQjtJQUNqQyxTQUFTLEVBQUUseUJBQTBCO0lBQ3JDLEtBQUssRUFwQlEsSUFBSSxHQXFCbEI7O0FBR0gsVUFBVSxDQUFWLElBQVU7RUFDUixBQUFBLElBQUk7SUFDRixTQUFTLEVBQUUsWUFBTTtFQUVuQixBQUFBLEVBQUU7SUFDQSxTQUFTLEVBQUUsY0FBTSIsIm5hbWVzIjpbXX0= */
