


body {
	background-color: #ffffff;
}

#mini-beauty-shots-wrapper {
	position:relative;
	cursor: pointer;

	border: 1px solid #000000;
	width: 297px;
	height: 47px;
	background-color: #ffffff;
	overflow: hidden;
}


/*---------------- HEADER KEYFRAMES  ------------------*/

@-webkit-keyframes header_in { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes header_in { from { opacity:0; } to { opacity:1; } }
@keyframes header_in { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes header_out { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes header_out { from { opacity:1; } to { opacity:0; } }
@keyframes header_out { from { opacity:1; } to { opacity:0; } }


@-webkit-keyframes image_in { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes image_in { from { opacity:0; } to { opacity:1; } }
@keyframes image_in { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes image_out { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes image_out { from { opacity:1; } to { opacity:0; } }
@keyframes image_out { from { opacity:1; } to { opacity:0; } }


/*---------------- LOGO  ------------------*/

#mini-beauty-shots-wrapper #mini-logo {
	position: absolute;
	width: 67px;
	bottom:10px;
	right:5px;
}

/*---------------- COLORED BAR  ------------------*/

#mini-beauty-shots-wrapper #colored-bar {
	position: absolute;
	width: 5px;
	height: 40px;
	top: 5px;
  	left: 210px;
  	background-color: #971f30;
    
    -webkit-animation: image_out 0.1s 8s ease-out forwards;
    -moz-animation: image_out 0.1s 8s ease-out forwards;
    animation: image_out 0.1s 8s ease-out forwards;
}



/*---------------- IMAGE  ------------------*/


#mini-beauty-shots-wrapper #image-container {
	position: relative;
	width: 210px;
	height: 40px;
	top: 5px;
	left: 5px;
	overflow: hidden;
}


#mini-beauty-shots-wrapper #image-container .img_2 {
	position: absolute;
	width: 100%;
	top: 0px;
  	left: 0px;
    opacity:0;
    
    -webkit-animation: image_in 0.2s 0s ease-out forwards, image_out 0.2s 2.5s ease-out forwards;
    -moz-animation: image_in 0.2s 0s ease-out forwards, image_out 0.2s 2.5s ease-out forwards;
    animation: image_in 0.2s 0s ease-out forwards, image_out 0.2s 2.5s ease-out forwards;

}


#mini-beauty-shots-wrapper #image-container .img_3 {
	position: absolute;
	width: 100%;
	top: 0px;
  	left: 0px;
    opacity:0;
    
    -webkit-animation: image_in 0.2s 2.5s ease-out forwards, image_out 0.2s 5s ease-out forwards;
    -moz-animation: image_in 0.2s 2.5s ease-out forwards, image_out 0.2s 5s ease-out forwards;
    animation: image_in 0.2s 2.5s ease-out forwards, image_out 0.2s 5s ease-out forwards;

}



#mini-beauty-shots-wrapper #image-container .img_4 {
	position: absolute;
	width: 100%;
	top: 0px;
  	left: 0px;
    opacity:0;
    
    -webkit-animation: image_in 0.2s 5s ease-out forwards, image_out 0.2s 8s ease-out forwards;
    -moz-animation: image_in 0.2s 5s ease-out forwards, image_out 0.2s 8s ease-out forwards;
    animation: image_in 0.2s 5s ease-out forwards, image_out 0.2s 8s ease-out forwards;

}



/*---------------- HEADER 2  ------------------*/

#mini-beauty-shots-wrapper #header-2 {
	position: absolute;
	font-family: 'Noto Serif', serif;
    color:black;
	font-size: 14px;
	top: 25px;
  	left: 10px;
    opacity:0;
    
    -webkit-animation: header_in 0.5s 9s ease-out forwards, header_out 0.5s 11s ease-out forwards;
    -moz-animation: header_in 0.5s 9s ease-out forwards, header_out 0.5s 11s ease-out forwards;
    animation: header_in 0.5s 9s ease-out forwards, header_out 0.5s 11s ease-out forwards;
    
    
}




/*---------------- HEADER 3 ------------------*/

#mini-beauty-shots-wrapper #header-3 {
	position: absolute;
	font-family: 'Noto Serif', serif;
	font-size: 14px;
    color:black;
	top: 10px;
  	left: 10px;
    opacity:0;
    
    -webkit-animation: header_in 0.5s 8s ease-out forwards, header_out 0.5s 11s ease-out forwards;
    -moz-animation: header_in 0.5s 8s ease-out forwards, header_out 0.5s 11s ease-out forwards;
    animation:  header_in 0.5s 8s ease-out forwards, header_out 0.5s 11s ease-out forwards;
}









/*---------------- CTA  ------------------*/

#mini-beauty-shots-wrapper #cta-button {
	position: absolute;
	height: 22px;
	width: 140px;
	top: 15px;
  	left: 20px;
  	opacity: 0;
  	background-color: #971f30;
}

#mini-beauty-shots-wrapper #cta-button #cta-text {
	position: absolute;
	font-family: 'Noto Serif', serif;
	font-size: 9px;
	color: #ffffff;
	top: 4px;
  	left: 15px;
}

#mini-beauty-shots-wrapper #cta-button #cta-arrow {
	position: absolute;
	height: 8px;
	top: 7px;
  	left: 123px;
}

