/*--------------------- Globals ---------------------*/
:focus { outline:none; }
::-moz-focus-inner { border:0; }
html, body { background-color: #fff; margin: 0; padding: 0; }
#loot { background-color: #ff8700; position: absolute; top: 0px; left: 0px; width: 300px; height: 250px; overflow: hidden;
transform-style: preserve-3d;
perspective: 400;
-webkit-transform-style: preserve-3d;
-webkit-perspective: 400;		
}
#loot svg { position: absolute; overflow: hidden; }
#loot div { display: block; overflow: hidden; position: absolute; background: transparent; }

#loot #crate_anim_container { width: 300px; height: 250px; }
#loot #crate_anim_container #crate_anim { width: 2400px; height: 250px; }
#loot #crate_particles { width: 300px; height: 131px; }
#loot .particle { background: #faf7ac; width: 10px; height: 10px; position: absolute; border-radius: 100%; filter: blur(1px); -webkit-filter: blur(1px); }
#loot #logo { background: transparent url('logo.svg') 0 0 no-repeat; width: 300px; height: 250px; }
#loot #sparkler_anim { width: 85px; height: 100px; left: -17px; top: -28px; }
#loot #sparkler_anim #sparkler { width: 1530px; height: 100px; }
#loot #lighting { background: transparent url('lighting.png') 0 0 no-repeat; width: 300px; height: 250px; }
#loot #smoke_anim { width: 300px; height: 250px; }
#loot #smoke_anim #smoke { width: 2700px; height: 250px; }
#loot #strange { background: transparent url('strange.png') 0 0 no-repeat; width: 241px; height: 349px; left: 37px; top: 45px; }
#loot #newt { background: transparent url('newt.png') 0 0 no-repeat; width: 143px; height: 360px; left: 77px; top: 36px; }
#loot #cta { background: #fff; width: 184px; height: 36px; border-radius: 18px; -webkit-border-radius: 18px; left: 58px; bottom: 68px; }

#loot #btn_replay { width: 20px; height: 20px; right: 5px; top: 5px; cursor: pointer; transform-origin: 50% 55%; -webkit-transform-origin: 50% 55%; }

/*--------------------- IE/Utilities ---------------------*/
#loot #border { background: transparent; border: 1px solid #000; width: 298px; height: 248px; position: absolute; top: 0; left: 0; }
#loot #background_exit { display: block; overflow: hidden; background: transparent; width: 100%; height: 100%; position: absolute;  }
#loot #loading { background: #ff8700; width: 100%; height: 100%; }
#loot .hide { display: none; }