.banner {
  background: #000;
  cursor: pointer;
  height: 250px;
  left: 50%;
  margin-left: -485px;
  margin-top: -125px;
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 50%;
  width: 970px; }
  .banner .border {
    border: 1px solid #000;
    display: block;
    height: 248px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 968px;
    z-index: 999; }

.preloader {
  background: #000;
  height: 100%;
  width: 100%; }
  .preloader .circle {
    border: 2px solid #333;
    border-bottom-color: #fff;
    border-radius: 50%;
    height: 20px;
    left: 50%;
    margin-left: -11px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
    -webkit-animation: spin 0.5s linear infinite;
            animation: spin 0.5s linear infinite;
    width: 20px; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJleGVjLTIvOTcweDI1MC9zdHlsZXMvc3R5bGUuY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi5iYW5uZXIge1xuICBiYWNrZ3JvdW5kOiAjMDAwO1xuICBjdXJzb3I6IHBvaW50ZXI7XG4gIGhlaWdodDogMjUwcHg7XG4gIGxlZnQ6IDUwJTtcbiAgbWFyZ2luLWxlZnQ6IC00ODVweDtcbiAgbWFyZ2luLXRvcDogLTEyNXB4O1xuICBvdmVyZmxvdzogaGlkZGVuO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiA1MCU7XG4gIHdpZHRoOiA5NzBweDsgfVxuICAuYmFubmVyIC5ib3JkZXIge1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICMwMDA7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgaGVpZ2h0OiAyNDhweDtcbiAgICBsZWZ0OiAwO1xuICAgIHBvaW50ZXItZXZlbnRzOiBub25lO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6IDA7XG4gICAgd2lkdGg6IDk2OHB4O1xuICAgIHotaW5kZXg6IDk5OTsgfVxuXG4ucHJlbG9hZGVyIHtcbiAgYmFja2dyb3VuZDogIzAwMDtcbiAgaGVpZ2h0OiAxMDAlO1xuICB3aWR0aDogMTAwJTsgfVxuICAucHJlbG9hZGVyIC5jaXJjbGUge1xuICAgIGJvcmRlcjogMnB4IHNvbGlkICMzMzM7XG4gICAgYm9yZGVyLWJvdHRvbS1jb2xvcjogI2ZmZjtcbiAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgaGVpZ2h0OiAyMHB4O1xuICAgIGxlZnQ6IDUwJTtcbiAgICBtYXJnaW4tbGVmdDogLTExcHg7XG4gICAgbWFyZ2luLXRvcDogLTExcHg7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogNTAlO1xuICAgIHRyYW5zaXRpb246IGFsbCAwLjdzIGVhc2UtaW4tb3V0O1xuICAgIGFuaW1hdGlvbjogc3BpbiAwLjVzIGxpbmVhciBpbmZpbml0ZTtcbiAgICB3aWR0aDogMjBweDsgfVxuXG5Aa2V5ZnJhbWVzIHNwaW4ge1xuICBmcm9tIHtcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSgwZGVnKTsgfVxuICB0byB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMzYwZGVnKTsgfSB9XG4iXSwiZmlsZSI6ImV4ZWMtMi85NzB4MjUwL3N0eWxlcy9zdHlsZS5jc3MiLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
